<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Playlists</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Your Spotify Playlists</h1>
    <ul>
        {% for playlist in playlists %}
        <li class="playlist-item">
            <img src="{{ playlist['images'][0]['url'] }}" alt="{{ playlist['name'] }}" class="playlist-image">
            <a href="/playlist/{{ playlist['id'] }}" class="playlist-name">{{ playlist['name'] }}</a>
        </li>
        {% endfor %}
    </ul>
</body>
</html>
