<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Select Songs</title>
    <script>
        // Function to filter the tracks
        function filterTracks() {
            let filterValue = document.getElementById('filterInput').value.toLowerCase();
            let tracks = document.getElementsByClassName('track');

            for (let i = 0; i < tracks.length; i++) {
                let trackArtist = tracks[i].getAttribute('data-artist').toLowerCase();
                let trackName = tracks[i].getAttribute('data-name').toLowerCase();
                let trackGenres = tracks[i].getAttribute('data-genres').toLowerCase();

                if (trackArtist.includes(filterValue) || trackName.includes(filterValue) || trackGenres.includes(filterValue)) {
                    tracks[i].style.display = '';
                } else {
                    tracks[i].style.display = 'none';
                }
            }
        }
    </script>
</head>
<body>
    <h1>Select Songs from Playlist</h1>
    <div>
        <label for="filterInput">Filter:</label>
        <input type="text" id="filterInput" onkeyup="filterTracks()" placeholder="Search by artist, track, or genre">
    </div>
    <form action="/process_songs" method="post">
        <input type="hidden" name="playlist_id" value="{{ playlist_id }}">
        {% for track in tracks_info %}
            <div class="track" data-artist="{{ track.artists[0].name }}" data-name="{{ track.name }}" data-genres="{{ ', '.join(track.features['genres']) }}">
                <input type="checkbox" name="track_ids" value="{{ track.id }}"> {{ track.name }} by {{ track.artists[0].name }}<br>
            </div>
        {% endfor %}
        <label for="num_songs">Number of Songs:</label>
        <input type="number" id="num_songs" name="num_songs">
        <button type="submit">Generate Playlist</button>
    </form>
</body>
</html>
